


<a asp-controller="Home" asp-action="Registration">Registration</a>
<img class="profile-picture"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGqb8TjEBcOlMDa0LqKqSJJfKIMB73c0YmY_Q4c6pC5uhbUpUXgA&s" width="1100" height="700" / >









