
@{
    ViewData["Title"] = "Summary";
}

<h1>Welcome @ViewBag.Name! Thank you for registration</h1>
<h4>Email: @ViewBag.Email </h4>
<h4>Date Of Birth: @ViewBag.DateOfBirth</h4>
<h4>PhoneNumber: @ViewBag.PhoneNumber</h4>



